[user]
	name = yuriiy
	email = yuriiy@madgicx.com

[core]
    pager = delta

[diff]
    colorMoved = default

[split-diffs]
    syntax-highlighting-theme = dracula

[interactive]
    diffFilter = delta --color-only

[delta]
    line-numbers = true
    side-by-side = false
    navigate = true    # use n and N to move between diff sections
    light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
    whitespace-error-style = 22 reverse
    features = woolly-mammoth decorations line-numbers


[delta "decorations"]
    commit-decoration-style = bold yellow 
    file-style = bold yellow box ul
    file-decoration-style = none
    hunk-header-decoration-style = yellow 

[merge]
    conflictstyle = diff3

[delta "line-numbers"]
    line-numbers-left-style = cyan
    line-numbers-right-style = cyan
    line-numbers-minus-style = 124
    line-numbers-plus-style = 28

[diff]
    colorMoved = default

[delta "woolly-mammoth"]
    commit-decoration-style = 232 130 box
    commit-style = 232 bold italic 130
    dark = true
    file-added-label = 
    file-copied-label = 󰆏
    file-decoration-style = "red" overline
    file-modified-label = 
    file-removed-label = 󰃆
    file-style = 232 bold 184
    hunk-header-decoration-style = none
    hunk-header-style = syntax bold italic 237
    line-numbers = true
    line-numbers-left-format = "{nm:>1}┊"
    line-numbers-left-style = red
    line-numbers-minus-style = red italic black
    line-numbers-plus-style = green italic black
    line-numbers-right-format = "{np:>1}┊"
    line-numbers-right-style = green
    line-numbers-zero-style = "#545474" italic
    minus-emph-style = syntax bold "#780000"
    minus-style = syntax "#400000"
    plus-emph-style = syntax bold "#007800"
    plus-style = syntax "#004000"
    syntax-theme = Vibrant Sunburst
    whitespace-error-style = "#280050" reverse
    zero-style = syntax
    blame-format = "{author:<18} ({commit:>7}) ┊{timestamp:^16}┊ "
    blame-palette = "#101010 #200020 #002800 #000028 #202000 #280000 #002020 #002800 #202020"
